body {
  /* background-color: #33A1E0; */
  margin: 0; /* It's a good practice to remove default body margin */
}

main {
  max-width: 1280px; /* Sets the maximum width of the content */
  margin-left: auto; /* In combination with margin-right, centers the element */
  margin-right: auto;
  padding: 0 1rem; /* Adds some padding on the sides for smaller screens */
  
}
